.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task__description {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.task__date {
    font-size: 12px;
}